<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headerFragment"></head>
<link href="=/node_modules/cropper/dist/corpper.css">

<body class =bg-light>

<th:block th:replace="fragments :: navFragment"/>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 justify-content-center">
            <div th:replace="fragments :: settings-menu (currentMenu='account')"></div>
        </div>
        <div class="col-8">
            <div th:replace="fragments :: message"></div>

            <div class="col-8">
                <div class="row">
                    <h2 class="col-12">닉네임 변경</h2>
                </div>
                <div class="row">
                    <form class="needs-validation col-12" th:object="${nickNameForm}" th:action="@{/settings/account}" method="post" novalidate>
                        <div class="alert alert-warning" role="alert">
                            닉네임을 변경하면 프로필 페이지 링크도 바뀝니다!
                        </div>
                        <div class="form-group">
                            <input id="nickname" type="text" th:field="*{nickName}" class="form-control" aria-describedby="nicknameHelp" required>
                            <small id="nicknameHelp" class="form-text text-muted">
                                공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.
                            </small>
                            <small class="invalid-feedback">닉네임을 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}">nickname Error</small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">변경하기</button>
                        </div>
                    </form>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-danger">계정 삭제</h2>
                        <div class="alert alert-danger" role="alert">
                            이 계정은 삭제할 수 없습니다.
                        </div>
                        <button class="btn btn-outline-danger disabled">계정 삭제</button>
<!--                        TODO 계정 제거할 때 eventService.updateAcceptUser 불러주기.-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments :: form-validation"></script>
<div th:replace="fragments :: footerFragment"></div>

</body>
</html>


