<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: headerFragment"></head>
<link href="=/node_modules/cropper/dist/corpper.css">

<body class =bg-light>

<th:block th:replace="fragments :: navFragment"/>

<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2 justify-content-center">
            <div th:replace="fragments :: settings-menu (currentMenu='password')"></div>
        </div>
        <div class="col-8">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
            </svg>

            <div th:if="${message}" class ="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <span th:text="${message}">메시지</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </button>
            </div>
            <div class="row">
                <h2>패스워드 변경</h2>
            </div>
            <div class="row mt=3">
                <form class="col-sm-12" action="#"
                      th:action="@{/settings/password}" th:object="${password}" method="post" novalidate>
                    <input  type="text" th:value="${password.nickName}" th:field="*{nickName}" hidden>
                    <div class="form-group">
                        <label for="newPassword">새 패스워드</label>
                        <input id="newPassword" type="password" th:field="*{newPassword}" class="form-control"
                               placeholder="New Password" aria-describedby="newPasswordHelp" required min="8" max="50">
                        <small id="newPasswordHelp" class="form-text text-muted">
                            새 패스워드를 입력하세요.
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                            패스워드를 확인하세요.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="checkPassword">재입력</label>
                        <input id="checkPassword" type="password" th:field="*{checkPassword}" class="form-control"
                               placeholder="Password Confirm" aria-describedby="checkPasswordHelp" required>
                        <small id="checkPasswordHelp" class="form-text text-muted">
                            패스워드를 동일하게 다시 입력하세요.
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                            패스워드를 확인하세요.
                        </small>
                    </div>



                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                aria-describedby="submitHelp">수정하기</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script th:replace="fragments :: form-validation"></script>
<div th:replace="fragments :: footerFragment"></div>

</body>
</html>