@import url("sub.css");

body {
  background-size: 3000px;
  margin-left: 10px;
}

#logo {
  width: inherit;
  background: url("/imgs/logo.png") no-repeat;
  background-attachment: fixed;
  background-color: orange;
  background-size: cover;
}

div {
  width: 300px;
  height: 300px;
  font-size: 30px;
  text-align: center;
  line-height: 300px;
  
  background-color: orange;
  margin: 10px 0px 10px 0px;
}

span:not(.not) {
  font-size: 43px;
  background-color: green;
}

table {
  border: 2px solid blue;
  
}

td {
  border: 1px dotted blue;
  padding: 10px;
}

.box::before{
  content: "before ";
}

.box::after{
  content: "after";
}

.car {
  width: 300px;
  color: brown;
  overflow: auto;

}

.parent {
  width: 600px;
  height: 200px;
  background-color: orange;
  border: 10px solid blue;
}

.child {
  max-width: 200px;
  width: 50%;
  
  height: inherit;
  background-color: red;
}

/* 선택자 우선 순위. */
div {
  color: red !important;
}
#yellow {
  color: yellow;
}
.green {
  color:green;
}
div {
  color:blue;
}

* {
  color: darkblue;
} 
body {
  color: violet;
}