<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: headerFragment"></head>
<body class="bg-light">
<div th:replace="fragments.html :: navFragment"></div>

<div class="container">
    <p class="lead text-center m-3" th:if="${studyPage.getTotalElements() == 0}">
        <strong th:text="${keyword}" id="keyword" class="context"></strong>에 해당하는 스터디가 없습니다.
    </p>
    <p class="lead text-center m-3" th:if="${studyPage.getTotalElements() > 0}">
        <strong th:text="${keyword}" id="keyword" class="context"></strong>에 해당하는 스터디를
        <span th:text="${studyPage.getTotalElements()}"></span>개
        찾았습니다.
    </p>
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        >정렬 방법
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" th:classappend="${#strings.contains(sortProperty, 'memberCount')}? active"
               th:href="@{'/search/study?sort=memberCount,DESC&keyword=' + ${keyword}+'&page='+ ${studyPage.getNumber()}}">
                멤버수
            </a>
            <a class="dropdown-item" th:classappend="${#strings.contains(sortProperty, 'publishedDateTime: DESC')}? active"
               th:href="@{'/search/study?sort=publishedDateTime,DESC&keyword=' + ${keyword}+'&page='+ ${studyPage.getNumber()}}">
                최신순
            </a>
            <a class="dropdown-item" th:classappend="${#strings.contains(sortProperty, 'publishedDateTime: ASC')}? active"
               th:href="@{'/search/study?sort=publishedDateTime,ASC&keyword=' + ${keyword}+'&page='+ ${studyPage.getNumber()}}">
                오래된 순
            </a>

        </div>
    </div>



    <div th:fragment="study-list (studyList)" class="col-sm-12">
        <div class="row">
            <div class="col-md-4" th:each="study: ${studyPage}">
                <div class="card mb-4 shadow-sm">
                    <img th:if="${study.image} !=null" th:src="${study.image}" class="card-img-top" th:alt="${study.title}" >
                    <img th:if="${study.image} ==null" src="/images/default_banner.png" class="card-img-top" th:alt="${study.title}" >
                    <div class="card-body">
                        <a th:href="@{'/study/' + ${study.path}}" class="text-decoration-none">
                            <h5 class="card-title context" th:text="${study.title}"></h5>
                        </a>
                        <p class="card-text" th:text="${study.shortDescription}">Short description</p>
                        <p class="card-text context">
                                <span th:each="tag: ${study.tags}" class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                                    <a th:href="@{'/search/tag/' + ${tag.title}}" class="text-decoration-none text-muted">
                                        <i class="fa fa-tag"></i> <span th:text="${tag.title}">Tag</span>
                                    </a>
                                </span>
                            <span th:each="zone: ${study.zones}" class="font-weight-light text-monospace badge badge-primary mr-3">
                                    <a th:href="@{'/search/zone/' + ${zone.id}}" class="text-decoration-none text-muted">
                                        <i class="fa fa-globe"></i> <span th:text="${zone.localNameOfCity}" class="text-muted">City</span>
                                    </a>
                                </span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">
                                <i class="fa fa-user-circle"></i>
                                <span th:text="${study.members.size()}"></span>명
                            </small>
                            <small class="text-muted date" th:text="${study.publishedDateTime}">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!studyPage.hasPrevious()}? disabled">
                        <a th:href="@{'/search/study?keyword=' + ${keyword} + '&sort=' + ${sortProperty.split(':')[0]} + ','+${order}+'&page=' + ${studyPage.getNumber() - 1}}"
                           class="page-link" tabindex="-1" aria-disabled="true">
                            Previous
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i == studyPage.getNumber()}? active"
                        th:each="i: ${#numbers.sequence(0, studyPage.getTotalPages() - 1)}">
                        <a th:href="@{'/search/study?keyword=' + ${keyword} + '&sort=' + ${sortProperty.split(':')[0]} + ','+${order}+'&page=' + ${i}}"
                           class="page-link" href="#" th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!studyPage.hasNext()}? disabled">
                        <a th:href="@{'/search/study?keyword=' + ${keyword} + '&sort=' + ${sortProperty.split(':')[0]} + ','+${order}+'&page=' + ${studyPage.getNumber() + 1}}"
                           class="page-link">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:replace="fragments :: bannerFragment"></div>
</div>
<div th:replace="fragments.html :: footer"></div>
<script th:replace="fragments.html :: date-time"></script>

<script src="/node_modules/mark.js/dist/jquery.mark.js"></script>
<script type="application/javascript">
    $(function(){
        var mark = function() {
            // Read the keyword
            var keyword = $("#keyword").text();

            // Determine selected options
            var options = {
                "each": function(element) {
                    setTimeout(function() {
                        $(element).addClass("animate");
                    }, 150);
                }
            };

            // Mark the keyword inside the context
            $(".context").unmark({
                done: function() {
                    $(".context").mark(keyword, options);
                }
            });
        };

        mark();
    });
</script>
</body>
</html>