.container {
  width: 600px;
  height: 400px;
  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .item {
  width: 100px;
  height: 100px;
  border: 4px dashed red;
  background-color: orange;
  flex-grow: 1;
  flex-basis: 0;
  transition:1s;

}

.container .item:nth-child(3) {
  flex-grow: 2;
  order:-1;

}

.container .item:nth-child(3):hover{
  background-color: green;
}

.container .item:nth-child(2):hover {
  transform: perspective(150px) rotateY(45deg) translate(100px)
  scale(1.3) skew(15deg);
  backface-visibility: visible;

}


